.board {
    width: 35%;
    height: 78vh;
}

.board-done,
.board-development,
.board-queue {
    

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;

    cursor: grab;

    h2 {
        margin-top: 0;
        margin-bottom: 8px;
    }
}

.board-wrapper {
    width: 90%;
}
.board-done {
    border: 3px solid rgb(11, 121, 29);
    background: #9dfab5;
    border-radius: 3%;
}
.board-development {
    border: 3px solid rgb(210, 45, 16);
    background: #fbcbac;
    border-radius: 3%;
}
.board-queue {
    border: 3px solid rgb(87, 8, 183);
    background: #d4c0f5;
    border-radius: 3%;
}

.board-list {
    list-style: none;
    padding-left: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 4%;
}
