.frame {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-window {
  position: absolute;
  border-radius: 12px;
  z-index: 1000;
  top: 20%;
  left: 39%;
  right: 38%;
  background: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0;

  input {
    margin-bottom: 18px;
    padding: 5px 14px;
    font-size: 14px;
  }
}

input::placeholder {
  font-size: 17px;
}

.btn-create,
.btn-create-project {
  padding: 6px 19px;
  font-size: 18px;
  background: #5d43da;
  border-radius: 18px;
  color: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    background: #fbc143;
  }
}

.modal-project-page {
  position: absolute;
  border-radius: 12px;
  z-index: 1000;
  top: 20%;
  left: 34%;
  right: 35%;
  background: #fff;
}

form {
  input {
    width: 80%;
  }
}


.modal-show-task {
  position: absolute;
  border-radius: 12px;
  z-index: 1000;
  top: 20%;
  left: 29%;
  right: 28%;
  background: #fff;
  padding: 12px 18px;
}

.task-show-more-wrapper {

}
.show-more-headline {

}

.show-more-queue-headline {
  color: #470287;
}
.show-more-development-headline {
  color: #7a0c01;
}
.show-more-done-headline {
  color: #016919;
}


.show-more-status {
  padding: 4px 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}

.show-more-queue-status {
  background: #902ded;
}
.show-more-development-status {
  background: #e47022;
}
.show-more-done-status {
  background: #179e1b;
}



 




