.projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

ol {
    list-style-type: decimal;
    li {        
        margin-bottom: 8px;
        
        a {
            text-decoration: none;
            font-size: 14px;
            padding: 2px 12px;
            font-size: 17px;
            font-weight: 500;
            border-radius: 18px;
            color: #2602c9;
            cursor: pointer;

            &:hover {
                background: #e31f1f;            
                color: #fff;
            }
        }
        
    }
}
.btn-create {
    padding: 6px 19px;
    font-size: 18px;
    background: #5d43da;
    border-radius: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 18px;

    &:hover {
        background: #fbc143;
    }
}