.btn-create-project {
    padding: 6px 19px;
    font-size: 18px;
    background: #5d43da;
    border-radius: 18px;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        background: #fbc143;
    }
}